<% provide(:title, 'Home') %>
<!--goes into title in app/views/layouts/application -->


<h1>Alice's List</h1>
<p>
 Herro it's radies night
 <ul>
 <li><a href="map.html">Map</a>
 <li><a href="about.html">About</a>
 </ul>

<a href="http://canopytek.com">CanopyTek, LLC</a>
</p>

</body>
</html>