<% provide(:title, 'Map') %>
<!--goes into title in app/views/layouts/application -->


<h1>Map</h1>
<p>

This will be where a map is. In the meantime here is a map to look at from long ago.

<img src="/assets/internet.png">
</p>