<% provide(:title, 'About') %>

<h1>About</h1>

<p>
<%= link_to "", "" %> is a project to help you find that special someone you passed in the real world.
</p>

<p>
Whether it be on the bus, in a grocery market, or in a bathroom stall. 
Our hope is that you too can find that person, or perhaps you know someone on this site-- thenby all means, please let them know! </p>
</p>