<% provide(:title, 'About') %>

<h1>About</h1>

<p>
<%= link_to "", "" %> is a project to help you find that special someone you passed in the real world.
</p>

<p>
Whether it be on the bus, in a grocery market, or in a bathroom stall. 
Our hope is that you too can find that person, or perhaps you know someone on this site-- thenby all means, please let them know! </p>
</p>
<p>
<h2>Rules</h2>
It's easy to be a creeper,which is why we have a few rules...<br>
<ul>
<li>Please avoid headshots, we don't want to completely invade people's privacy</li>
<li>We also want to keep soe mysteriousness</li>
<li>If it is a headshot please go to <% link_to "Pixlr", "http://pixlr.com" %> to fuzzy out the face </li>
<li>If you know someone please do leave a note and tell your friend! </li>
<li>No stalking, we want a safe, fun community</li>
</ul>