
<% provide(:title, 'Home') %>


<div class="hero-unit">
<h1>I Saw You</h1>
<p>

<img src="http://canopytek.com/images/isawyou6.png"> For finding your lost love. All you need is a vague photo.

<%= link_to "Sign Up", "#", class: "btn btn-primary btn-large" %>

</p>




</div>
