
<% provide(:title, 'Home') %>


<div class="hero-unit">
<h1>I Saw You</h1>
<p>

<img src="assets\images\curious.jpg"> For finding your lost love. All you need is a headshot.

<%= link_to "Sign Up", "#", class: "btn btn-primary btn-large" %>

</p>




</div>
